ServerGame/Debug/*
ServerGame/.vs/*
ServerGame/Client/*.vcxproj.filters
ServerGame/Client/Debug/*
ServerGame/Client/x64/*
ServerGame/Server/Debug/*
ServerGame/Server/x64/*
ServerGame/x64/*
!ServerGame/Debug/Server.exe
!ServerGame/Debug/Client.exe
/ServerGame/.vs/ServerGame/v16/Solution.VC.db-wal
/ServerGame/.vs/ServerGame/v16/Solution.VC.db-shm
/ServerGame/.vs/ServerGame/v16/Solution.VC.db
/ServerGame/.vs/ServerGame/v16/ipch/AutoPCH/87d66f927c99566c/REGISTRATION.ipch
/ServerGame/.vs/ServerGame/v16/ipch/AutoPCH/87d66f927c99566c
/ServerGame/.vs/ServerGame/v16/Browse.VC.opendb
/ServerGame/.vs/ServerGame/v16/Browse.VC.db-wal
/ServerGame/.vs/ServerGame/v16/Browse.VC.db-shm
/ServerGame/.vs/ServerGame/v16/Browse.VC.db
/ServerGame/.vs/ServerGame/v16
