################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServerGame/.vs/ServerGame/v16/Solution.VC.db-wal
/ServerGame/.vs/ServerGame/v16/Solution.VC.db-shm
/ServerGame/.vs/ServerGame/v16/Solution.VC.db
/ServerGame/.vs/ServerGame/v16/ipch/AutoPCH/87d66f927c99566c/REGISTRATION.ipch
/ServerGame/.vs/ServerGame/v16/ipch/AutoPCH/87d66f927c99566c
/ServerGame/.vs/ServerGame/v16/Browse.VC.opendb
/ServerGame/.vs/ServerGame/v16/Browse.VC.db-wal
/ServerGame/.vs/ServerGame/v16/Browse.VC.db-shm
/ServerGame/.vs/ServerGame/v16/Browse.VC.db
/ServerGame/.vs/ServerGame/v16
